* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
    font-size: 12px;
    line-height: 1.2;
    font-family: Arial, "Trebuchet MS", sans-serif;
      color: #a0a0a0;
    background: url(images/bg.gif) repeat 0 0;
    text-align: left;
}

.header {
	padding-top: 5px;
}

.leftArea {
	position: absolute;
	left: 10px;
	top: 70px;
	bottom: 20px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
	
	background-color: white

}

.mainArea {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left:300px;

	width:400px;
}

.rightArea {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left:950px;
	
	width:370px;
}

.bottomArea{
	position: absolute;
	left: 600px;
	top: 70px;
	width: 300px;
	height: 200px;

	overflow-y: scroll;
}

.middleArea{
	position: absolute;
	left: 600px;
	top: 370px;
	width: 300px;
	height: 200px;

	overflow-y: scroll;
}
ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

input, textarea {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.mainArea input {
  margin-bottom:15px;
  margin-top:5px;
  width:280px;
}

textarea {
	margin-bottom:15px;
  	margin-top:5px;
	height: 400px;
  	width:275px;
}

label {
	display:block;
}

button {
	padding:6px;
}


#searchKey {
	width:160px;
}
